/*
 * µCSS Component: Forms
 */

/* Sizes */
input.input-sm, textarea.input-sm, select.input-sm {
	height: auto;
	padding: 0.375rem 0.625rem;
	font-size: 0.8125rem;
}
input.input-lg, textarea.input-lg, select.input-lg {
	height: auto;
	padding: 0.75rem 1rem;
	font-size: 1.125rem;
}

/* Validation colors */
input.input-success, textarea.input-success, select.input-success {
	border-color: var(--mu-success);
}
input.input-success:focus, textarea.input-success:focus, select.input-success:focus {
	box-shadow: 0 0 0 0.2rem var(--mu-success-focus);
}
input.input-warning, textarea.input-warning, select.input-warning {
	border-color: var(--mu-warning);
}
input.input-warning:focus, textarea.input-warning:focus, select.input-warning:focus {
	box-shadow: 0 0 0 0.2rem var(--mu-warning-focus);
}
